
.react-calendar-heatmap rect {
  rx: 5px; 
  ry: 5px;
  stroke: #1c1c1c;
  transition: all 0.25s ease;
}


.react-calendar-heatmap rect:hover {
  stroke: #9d9d9da3 !important;
  stroke-width: 1px;
  transform: scale(1.01);
}


.heat-level-0 {
  fill: #262626 !important;
}

.heat-level-1 {
  fill: rgba(34, 197, 94, 0.35) !important; 
 
}

.heat-level-2 {
  fill: rgba(34, 197, 94, 0.55) !important;
 
}

.heat-level-3 {
  fill: #10b981bf !important; 
 
}

.heat-level-4 {
  fill: rgba(74, 222, 128, 1) !important; 
 
}
