@import "tailwindcss";



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background: #111;       /* dark track */
}

::-webkit-scrollbar-thumb {
  background: #424242;       /* pure black */
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;       /* lighter on hover */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body{
  background-color: black;
  color: antiquewhite;
}

/* .card{
  
} */